{% extends 'base.html.twig' %}
{% form_theme formSortie 'bootstrap_4_layout.html.twig' %}





{% block main %}

    {%  if sortie.nom is empty or sortie.nom is not defined  %}
    <div style="text-align: center"><h3>Création d'une sortie</h3></div>
    {% else %}
    <div style="text-align: center"><h3>Modification de la sortie</h3></div>
    {% endif %}
    <br>
    <br>
    {#DEBUT  AFFICHAGE MESSAGES FLASH#}
    {% for label, messages in app.flashes(['danger', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {#FIN  AFFICHAGE MESSAGES FLASH#}

    {{ form_start (formSortie) }}
    <div class="container">
        <div class="row">

                            <div class="col-8">
                                {{ form_row(formSortie.nom,{'label': 'Nom de la sortie'}) }}
                                {{ form_row(formSortie.dateHeureDebut, {'label': 'Date et heure de la sortie'}) }}
                                {{ form_row(formSortie.dateLimiteInscription,{'label': 'Date limite des inscriptions'}) }}
                                {{ form_row(formSortie.nbrInscriptionMax,{'label': 'Nombre de places'}, {'attr': {'min' : 1}})}}
                                {{ form_row(formSortie.duree,{'label': 'Durée (en minutes)'}, {'attr': {'min' : 1}}) }}
                                {{ form_row(formSortie.infosSortie,{'label': 'Description et infos'}) }}
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                    <div class="row">
                                            <div class="row">
                                                    {{form_row(formSortie.lieu) }}
                                                <a class="site-title" href="{{ path('sortie_ajoutLieu') }}">
                                                    <i class="material-icons" style="font-size:30px">add_circle_outline</i>
                                                </a>
                                            </div>
                                        <div class="container-fluid p-1 my-auto">
                                        </div>
                                        <div class="container-fluid p-2 my-auto">
                                            <label>
                                                <strong>Ville :</strong>
                                                <span id="ville"></span>
                                            </label>
                                        </div>
                                        <div class="container-fluid p-2 my-auto">
                                            <label>
                                                <strong>Adresse :</strong>
                                                <span id="rue"></span>
                                            </label>
                                        </div>
                                        <div class="container-fluid p-2 my-auto">
                                            <label>
                                                <strong>CodePostal:</strong>
                                                <span id="codePostal"></span>
                                            </label>
                                        </div>
                                        <div class="container-fluid p-2 my-auto">
                                            <label>
                                                <strong>Latitude :</strong>
                                                <span id="latitude"></span>
                                            </label>
                                        </div>
                                        <div class="container-fluid p-2 my-auto">
                                            <label>
                                                <strong>Longitude :</strong>
                                                <span id="longitude"></span>
                                            </label>
                                        </div>

                                    </div>
                                    </div>

                    </div>
                    <div class="col-1"></div>
        </div>
    </div>
       <br>
    <div style="text-align: center">
                    <button type="submit"  name="enregistrer" class="btn btn-primary" value="Enregister">Enregistrer</button>
                    <button type="submit"  name="publier" class="btn btn-success" value="Publier la sortie">Publier</button>
                    {%  if editMode %}
                        <a class="btn btn-outline-danger" href="{{ path('sortie_supprimer', {'id' : sortie.id}) }}">Supprimer la sortie</a>
                    {% endif %}
                    <a class="btn btn-outline-danger" href="{{ path('accueil') }}">Annuler</a>


    </div>
        <br>
    {{ form_end(formSortie) }}

    <script>var sortieLieu = '{{url('sortie_list')}}';</script>
    <script src="{{ asset("js/ajaxQuery.js") }}"></script>

{% endblock %}